.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconbox-wrapper {
  overflow-x: hidden;
}

.iconbox-group {
  width: 100%;
  padding-top: 24px;
}

.iconbox-group-title {
  display: flex;
  padding-bottom: 12px;
}

.iconbox-group-icon-list {
  display: grid;
  grid-gap: 7px 7px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 118px);
}
